.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.ellipse{
  position: absolute;
  top: 0px;
  right: 0px;
}
.ellipseTopLeft{
  position: absolute;
  top: 0px;
  left: 0px;
}
/* .ellipseBottom {
  position: absolute;
  top: 640px;
  left: 50%;
  transform: translateX(-50%);
}
.ellipseBottom2 {
  position: absolute;
  top: 860px;
  left: 50%;
  transform: translateX(-50%);
} */
.circleThree {
  width: 450px;
  height: 30px;
margin-top: 40px;
  margin-left: 30%;
  border-radius: 382px;
  background: #3A1078;
  filter: blur(60px);
  bottom: -100px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
